*{
	box-sizing: border-box;
}

.top-nav {
	display: flex;
	justify-content: right;
	flex-direction: column;
	background: #380036;
	color: #9AD1D4;
	text-decoration: none;
	list-style-type: none;
	list-style: none;
	flex-grow: 1;	
	
}
.top-nav a{
	display: flex;
	color: #9AD1D4;
	text-decoration: none;

}

.brand-link {
	color: #9AD1D4;
	text-decoration: none;
}

.navbar {
	display: flex;
	font-size: 30px;
	padding: 5px 20px;

}

.nav-toggle {
	margin-left: 50px;
}

/*.nav-list {
	color: #9AD1D4;

}*/
.nav-list-collapsed {
	display: none;
}
